{% extends 'base.html.twig' %}

{% block title %}Budget{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Budget</h1>
        {% for user in users %}
            <h2 class="title title-medium">{{ user.email }}</h2>
            <ul class="paiements" style="margin-bottom: 2rem">
                {% for p in user.paiements %}
                    <li>{{ p.amount ~ ' - ' ~ p.category.name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
