{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau paiement{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Créer un nouveau paiement</h1>

        {{ include('paiement/_form.html.twig') }}

        <a href="{{ path('paiement_index') }}">Retour</a>
    </div>
{% endblock %}
