:root {
  --text: #ebfff1;
  --bg-color: rgb(46, 49, 46);
  --hint: #333;
  --bg-card: rgb(49, 54, 49);
  --bg-color-hover: #ebfff186;
  --nav-height:15rem;
  --main-color : #0A7A3BFF;
  --main-transparent: rgba(5, 129, 30, 0.6);
  &.light {
    --text: #39413b;
    --bg-color: #ebfff186;
    --hint: rgba(255, 255, 255, 0.377);
  }
}